.AddComponent {
    /* margin: 50px auto;
    border: solid 1px; */

    float: left;
    width: 40%;
    height: 300px;
    background: rgb(218, 205, 164);
    margin: 0 0 0 45px;
}

.anAddbutton {
    /* vertical-align: text-top; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 20px;
    /* top: 30%; */
    background-color: rgb(155, 255, 222);
}

ul {
    list-style: none;
    padding: 0;
}
