body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 50px auto;
  border: solid 1px;
  width: 600px;
  height: 400px;

}

.title {
  display: block;
  padding: 20px 0;
  /* float: left;
   */
}

h1{
  text-align: center;
}